<html>
<head>
<title>TRANSAÇÃO INICIADA</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
img {display:block;}
</style>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="550" border="0" align="center" cellpadding="0" cellspacing="0" id="Table_01">
	<tr>
		<td background="http://www.festadasfloresdeatibaia.com.br/images/email/barcode_01.jpg" width="51" height="220"></td>
		<td background="http://www.festadasfloresdeatibaia.com.br/images/email/barcode_02.jpg" width="19" height="220"></td>
		<td background="http://www.festadasfloresdeatibaia.com.br/images/email/barcode_03.jpg" width="87" height="220"></td>
		<td background="http://www.festadasfloresdeatibaia.com.br/images/email/barcode_04.jpg" width="99" height="220"></td>
		<td background="http://www.festadasfloresdeatibaia.com.br/images/email/barcode_05.jpg" width="83" height="220"></td>
		<td background="http://www.festadasfloresdeatibaia.com.br/images/email/barcode_06.jpg" width="166" height="220"></td>
		<td background="http://www.festadasfloresdeatibaia.com.br/images/email/barcode_07.jpg" width="45" height="220"></td>
	</tr>
	<tr>
		<td background="http://www.festadasfloresdeatibaia.com.br/images/email/barcode_08.jpg" width="51" height="159"></td> 
		<td background="http://www.festadasfloresdeatibaia.com.br/images/email/barcode_09.jpg" colspan="5" height="159" align="justify">
		  	<font face="Verdana, Geneva, sans-serif" size="2" >
				Obrigado por utilizar nosso site para realizar sua compra. <br /><br />
				Seu pedido está em fase de aprovação, assim que for aprovado você receberá um ingresso virtual, basta imprimi-lo e apresentar na bilheteria no dia da festa!<br />
				Qualquer dúvida entre em contato pelo telefone 0800 555 979 ou consulte nosso FAQ (http://www.festadasfloresdeatibaia.com.br/faq.html).

          	</font>
        </td>
	 	<td background="http://www.festadasfloresdeatibaia.com.br/images/email/barcode_10.jpg" width="45" height="159"></td> 
	</tr>
</table>