<%content_for :head do %>
	<%= stylesheet_link_tag "passos" %>
<%end%>

<div id="BgHome">
    <div id="Search">

    </div>

	<div id="Content_passos">

            <div id="Passos">
                <center><img src="/images/img_passo4.jpg" width="507" height="66" align="center" /></center>
                <!-- <h1>4º Passo</h1>
                <br />-->
                <h2>Pedido concluído com sucesso!</h2>
                <br />
                <p>Obrigado por utilizar nosso site para realizar sua compra. Imprima o código de seu pedido e apresente na bilheteria da festa<br /><br /> para receber seu ingresso.<br /><br />
					Envie suas dúvidas ou consulte nosso FAQ clicando nas opções abaixo.
				</p>
                <br />

            </div>
	</div>
	
</div>
<div class="Box_content">
	<div id="Faq_box"><a href="#"><img src="/images/bt_duvidas.png" style="margin-top:41px; margin-left:48px;" /></a><a href="http://www.festadasfloresdeatibaia.com.br/faq.html"><img src="/images/bt_faq.png" width="305" height="102" style="margin-top:41px; margin-left:50px;" /></a></div>
</div>   
<div class="Box_content" style="text-align:left;">
	<!-- <img src="images/img_lineproxpass.png" width="894" height="13" />
	<a href="#"><img src="images/bt_passoanterior.png" width="149" height="59"/></a> -->
</div>