<ul>
	<li><%= link_to "Gerenciar Tickect",admin_tickets_path%></li>
	<li><%= link_to "Gerenciar Usuários", admin_users_path%></li>
	<li><%= link_to "Consultar Pagamentos", admin_searchs_path%></li>
	<li><%= link_to "Relatório de Vendas", admin_reports_path%></li>	
</ul>
